html, body{ margin:0; background-image:url(../images/dark_wall.png); color:rgb(235, 235, 235); font-size: 16px; line-height: 1.5rem; max-width: 100%; overflow-x: hidden; }

/* ~~~~~~~~~~~Nav~~~~~~~~~~~~~ */
nav { position: fixed; width: 100%; top:0; right: 0; left: 0; font-size: 22px; }
    nav ul { display: flex; padding: 0; gap:20px; justify-content: flex-end; list-style-type: none; }
        nav ul li { display: inline-block; }
            nav ul li:last-child { margin-right: 40px; }
            nav ul li a { color:rgb(235, 235, 235); text-decoration: none; font-family: 'Special Elite', cursive; font-weight:500; }
             nav ul li a:hover { color:rgb(189, 75, 75); }

/* ~~~~~~~~~~~Hero~~~~~~~~~~~~~ */
header { height:100%; width:100%; padding-top: 20px; background-image:url(../images/header-bg.jpeg); background-position:center; background-size:cover;}